/* Projet Borne connectée en santée, ESEO-CHM, septembre 2022 - Janvier 2023
Equipe composée de Roxane LAIGNEAU, Julia Body, Marie LOMBART et Maxime POMMIER
Page contenant le code CSS de notre projet
version 20/01
*/

.gauche{
    margin-left:5%;
    float: left;
    width: 85%;
    height:70%;

}

.droite{
    float: left;
    width: 10%;
    height:70%;
}

.bas{
    float: left;
    width: 90%;
    height:25%;
}




/* page Css destinée au questionnaire */

.container {
    background-image:    url(../Image/FondCH.jpg);
    background-size:     cover;                    
    background-repeat:   no-repeat;
    width:               90%;
    height:              40%;
    display:             flex;
    justify-content:     center;
    align-items:         center;
                
    
}



.centered-element{
   
    
    width:               100%;
    text-align:          center;
    font-size:           120%;
    margin-top:          12%;
    font-family:         "Gill Sans Extrabold", sans-serif;
    color:               #00425C;
    
   
  
    

}



/* On gère l'affichage des boutons */

form button {
    display:             inline-block;
    background-color:    #29C7E9;
    border-radius:       5%;
    border:              4px double #cccccc;
    color:               #0D405B;
    text-align:          center;
    font-size:           80%;
    padding:             1%;
    width:               10%;
    -webkit-transition:  all 0.5s;
    -moz-transition:     all 0.5s;
    -o-transition:       all 0.5s;
    transition:          all 0.5s;
    cursor:              pointer;
    margin:              1%;

    }

button span {
    cursor:             pointer;
    display:            inline-block;
    position:           relative;
    transition:         0.5s;

    }

button span:after {
    content:            "\00bb";
    position:           absolute;
    opacity:            0;
    top:                0;
    right:              -20%;
    transition:         0.5s;
    }

button:hover {
    background-color:  #F9E53F;
    }

button:hover span {
    padding-right:     20%;
    }

button:hover span:after {
    opacity:           1;
    right:             0;
    }


/* On cache les boutons suivant et précedent pour les pages alcool, tabac et cannabis
*/

    #BtnSuivNA{
        visibility: hidden;
    }

    #BtnSuivA{
        visibility: hidden;
    }
 
    #BtnPrecA{
        visibility: hidden;
    }

    #BtnPrecNA{
        visibility: hidden;
    }

    #BtnSuivNT{
        visibility: hidden;
    }

    #BtnSuivT{
        visibility: hidden;
    }

    #BtnPrecT{
        visibility: hidden;
    }

    #BtnPrecNT{
        visibility: hidden;
    }

    #BtnSuivNC{
        visibility: hidden;
   }

   #BtnSuivC{
    visibility: hidden;
   }

   #BtnPrecC{
    visibility: hidden;
   }

   #BtnPrecNC{
    visibility: hidden;
   }

datalist {
    display : inline-flex;
    color : black;
    justify-content: space-between;
    font-size: large;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#sante {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#TQ1 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.page{
    display: none;
}

#Poids {
    width : 80%;
    margin-right: auto;
    margin-left: auto;
}

#Taille {
    width : 80%;
    margin-right: auto;
    margin-left: auto;
}

#demo {
    display: none;
}
